.nh-container {
  width: 95%;
  margin: 30px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* TABLE */

.nh-table {
  width: 100%;
  border-collapse: collapse;
}

.nh-table th {
  background: #e5e5e5;
  border: 1px solid #000;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

.nh-table td {
  border: 1px solid #000;
  padding: 8px 0;
  text-align: center;
  font-size: 14px;
}
